
#headPart {
    background-color: #fff;
}   
#headPart .md-icon-button .md-button .md-ink-ripple{
    top: 10px;
    right: 24px;
}
.ag-body-viewport {
   height: 93% !important;
}

/* css-for-gridbody-fonts */
#gridDiv .ag-body{
	font-size:13px !important;
	font-family:'Roboto', sans-serif !important;
	color:rgba(0, 0, 0, 0.87) !important;
    top: 56px !important; 
}  

/* css-for-gridbody-cursor-pointer */ 
#gridDiv .zmdi, .fa {
    cursor: pointer !important;;
}

/* css-for-gridbody-icon-size */
#gridDiv .zmdi, .fa {
    font-size: 18px !important;
}

/* css-for-header-row-cell-spacing */
.ag-material .ag-header-cell-label {
    padding: 4px 2px 4px 2px !important;
}

/* css-for-header-row-cell-button */
.ag-material .ag-header-cell-menu-button {
    padding: 2px;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0px;
    -webkit-box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
    -moz-box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
    box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
    line-height: 0px /* normal line height, a space was appearing below the menu button */;
    cursor: pointer !important;
}

/* css-for-header-row */
.ag-header-container .ag-header-row{
    padding-top: 16px;
    padding-bottom: 6px;
    height: 31px !important;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px!important;
    font-weight: bold;
    white-space: nowrap;
}

/* css-for-header-row-select-all-spacing */
.ag-material .ag-header-select-all{
    padding: 5px 0px 0px 22px!important;
}

/* css-for-header-row-button-icons */
.ag-header-icon.ag-header-cell-menu-button i {
    font-size: 14px;
    padding: 0px;
    top: 0px;
    bottom: 0px;
    vertical-align: middle;
}

/* css-for-header-row-cell-text */
.ag-material .ag-header-cell-text {
    padding-left: 10px;
}

/* css-for-header-border */
.ag-material .ag-header {
    border-bottom: none; 
}

/* css-for-header-row-background-color */
.ag-scrolls .ag-header-container {
    background-color: #fafafa;  
}

/* css-for-header-row-height*/
.ag-header{
    height:48px !important;
}

/* css-for-header-row-hover-effect */
.ag-material .ag-header-cell-menu-button:hover {
    border: none !important;
}

/* css-for-header-row-hover-effect */
.ag-material .ag-header-cell-menu-button:hover {
    border: 0px !important;
}

/* css-for-header-font-size */
.ag-header-container{
    font-size:13px!important;
}

/* css-for-header-row-height */
.ag-bl-center-row .ag-bl-center .ag-root .ag-header {
    height:56px !important;
}

/* css-for-header-background-color */
.ag-header .ag-header-viewport{
	background-color:#fafafa;
}

/* css-for-header-row-border */
.ag-header .ag-header-viewport {
    border-top: 1px solid #ddd;
    border-bottom: 2px rgba(0, 0, 0, 0.12) solid;
}

/* css-for-row-background-color */ 
.contentviewwrapper .layout-align-end-center.layout-row {
    height: 64px;
    background-color: #fff;
}
/* css-for-row-border*/
.ag-row {
    border-bottom: 1px solid #ddd !important;
}

/* css-for-check-iocn-color-font */ 
#gridDiv i.fa.fa-check-square {
    font-size: 18px !important;
    color: #2196f3 !important;  
}

/* css-for-row-ag-menu-filter-header-border */
.ag-material .ag-filter-header-container {
    border-bottom: none;
    top:5px;
}
/* css-for-row-cell-border-hide */
.ag-material .ag-cell-focus {
    border: none!important;
}
/* css-for-row-cell-borders-hide */
.ag-material .ag-cell-no-focus {
    border-top: none !important;
    border-bottom: none !important;
}

/* css-for-row-cell-border-remove */
.ag-material .ag-ltr .ag-cell-no-focus {
    border-right:0px!important;
    border-left: 0px!important;
}

/* css-for-ag-menu */ 
.ag-material .ag-menu {
    border:none!important;
    background-color: #fff;
    cursor: default;
    font-family: Roboto;
    font-size: 13px;
}

/* css-for-ag-menu-list-hover */
.ag-material .ag-menu-option-active {
    background-color: rgb(238,238,238);
}

/* css-for-ag-menu-drop-shadow*/
#gridDiv .ag-menu{
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
}

/* css-for-ag-menu-border-remove-n-shadow */
#gridDiv .ag-menu .ag-menu-list {
	 border-collapse:none!important;
	 box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
}

/* css-for-ag-menu-seperator-border-remove*/
.ag-material .ag-menu-separator {
     border-top: none !important; 
}

/* css-for-ag-menu-list-height*/
.ag-virtual-list-container{
	min-height: 100px;
}


.ag-header-cell-label .ag-sort-ascending-icon {
    float: right;
}


.ag-header-cell-label .ag-sort-descending-icon{
   float: right;
}

/* css-for-check-iocn-color-font */ 
.ag-checkbox-checked .fa {
    color: #2196f3 !important;
    font-size: 18px !important;
}

/* css-for-ag-menu-header */ 
.ag-filter-header-container .ag-filter-filter {
    padding: 5px 0px 5px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}
/* css-for-ag-menu-pin-right */ 
.ag-pinned-right-header{
    border-top: 1px solid #ddd !important;
    border-bottom: 2px rgba(0, 0, 0, 0.12) solid;
    background-color: #fafafa !important;
    font-size:12px;
}
.ag-header .ag-pinned-right-header .ag-header-row .ag-header-cell.ag-header-cell-sortable{
	top:17px;
}

/* css-for-ag-menu-pin-left */ 
.ag-pinned-left-header {
    border-top: 1px solid #ddd !important;
    border-bottom: 2px rgba(0, 0, 0, 0.12) solid;
    background-color: #fafafa !important;
    font-size:12px;
}
.ag-header .ag-pinned-left-header .ag-header-row .ag-header-cell.ag-header-cell-sortable{
	top:17px;
}

/* css-for-ag-menu-fillter */ 
.ag-filter-filter {
    padding: 5px 0px 5px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}
/* css-for-ag-menu-fillter-checkbox*/ 
.ag-material .ag-filter-checkbox {
    position: relative;
    top: 4px;
    left: 0px;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0;
    line-height: 18px;
    margin-right: 5px;
}

/* css-for-ag-menu-fillter-icon-position */ 
.ag-set-filter-item  {
    width: 15px;
    position: relative;
    margin: 5px;
}

/* css-for-ag-menu-fillter-checkbox-position */ 
.filter-check-box {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px; 
    border:1px solid #666;
}
/* css-for-ag-menu-fillter-icon-hide */ 
.ag-set-filter-item  input[type=checkbox] {
    visibility:hidden ;
}

/* css-for-ag-menu-fillter-icon-create */ 
.filter-check-box:after {
    content: '';
    width: 7px;
    height: 4px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type=checkbox]:checked + i:after{
      opacity: 1;   
}
input[type=checkbox]:checked + .filter-check-box {
      background:#2196F3;
      border:none;     
} 
/* css-for-ag-menu-fillter-text-position */ 
.ag-material .ag-filter-value {
    position: absolute;
    margin-left:0px;
}

/* css-for-ag-menu-fillter-icon-color */ 
.ag-filter-checkbox:checked .filter-check-box{
    opacity:1;
}

/* css-for-ag-menu-fillter-text-position */ 
.ag-material .ag-filter-value {
    margin-top: 6px;
}
/* css-for-ag-menu-fillter-list-height */ 
.ag-set-filter-list {
    min-height: 205px;
}

.ag-filter-header-container{
    position: relative;
    margin-left: 5px;
}
/* css-for-ag-menu-fillter-top-icon-position */ 
.filter-top-checkbox{
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 3px;
	border:1px solid #666;  
}

/* css-for-ag-menu-fillter-top-icon-hiden */ 
.ag-filter-header-container  input[type=checkbox] {
    visibility:hidden ;
}

/* css-for-ag-menu-fillter-top-icon-create */ 
.filter-top-checkbox:after {
    content: '';
    width: 7px;
    height: 4px;
    position: absolute;
    top: 2px;
    left: 2px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type=checkbox]:checked + i:after{
      opacity: 1;      
}
input[type=checkbox]:checked + .filter-top-checkbox {
      background:#2196F3;
      border:none;     
}

/* css-for-ag-menu-fillter-heading-position */ 
.ag-fillter-heading {
    position: absolute;
    margin-left: 0px !important;
    top: 0px;
}


/* css-for-ag-menu-fillter-list-height */ 
#ag-mini-filter .ag-set-filter-list {
    height: 210px !important;
}
.ag-cell span:nth-child(4){
    display : inline-block;
    margin-left: 5px;
}
/* css-for-cell-content */ 
.ag-row .ag-cell .ag-group-value .task-name {   
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
/* css-for-cell-text */ 
.task-name {
    width: 100%;
    display: block;
    margin: 0 0 3px 0;
    font-size: 13px;
    padding-top: 0px;
}

/* css-for-ag-cell-left-space */ 
.ag-material .ag-cell-not-inline-editing {
    padding-left: 15px;
}

/* css-for-ag-cloumn-left-space-for-pivot-n-menu-column */ 
.ag-column-select-column {
    margin-left: 0px !important;
}
#eCheckboxAndText {
    margin-left: 4px !important;
}




/* css-for-ag-menu-menu-icon-color-size */ 
.ag-ltr .ag-column-select-column .fa {
    font-size: 18px !important;
    color: #666;
}

/* css-for-check-uncheck-icon-left-space */ 
.ag-column-select-column .ag-checkbox-unchecked{
	margin-left: 5px !important;
	margin-left: 1px !important;
}

md-select.md-no-underline {
    display: inline-block;
}

/* css-for-ag-menu-option-icon-size */ 
span#eIcon .ag-menu-option-icon i {
    font-size: 18px !important;
}

/* css-for-ag-column-icon-size */ 
.ag-column-select-column-group i {
    font-size: 20px !important;
}


/* css-for-check-uncheck-icon */ 
.ag-checkbox-unchecked i{
  font-size: 18px !important;	
}

/* css-for-check-icon */ 
.ag-selection-checkbox{
	position: relative;
	top: 3px;
	padding-left:5px !important;
}

.layout-align-end-center md-icon.zmdi.zmdi-filter-list.ng-scope.material-icons {
    font-size: 24px!important;
    margin-left: 2px
}
.layout-align-end-center  button.md-icon-button.md-button.md-ink-ripple {
    margin-right: 24px;
}

/* css-for-progress-bar-starts */ 
.ag-cell .ag-cell-wrapper .ag-cell-value{
	margin-left:8px;
}
#gridDiv .progress-bar{
    margin-left: 5px !important;  
	text-align: left;
	width:78% !important;
}
.status-vertical-align > span {
    margin-left: 5px;
}
.status-vertical-align {
    margin-top: 0px!important;
}  
.md-assign-bar {
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height:40px;
    max-width:150px;
}
.md-assign-bar .progress-bar > span{
  font-size:13px;
  color:rgba(0, 0, 0, 0.87);
}
.ag-row .md-assign-bar .progress-bar-green{
    width:78% !important;
}
/* css-for-progress-bar-ends */ 


 .task-info{
  padding-top:10px!important;
}
/* css-for-header-status-minus-icon-position */ 
.ag-header-cell span.ag-checkbox-indeterminate {
    padding-left: 0px!important;
}


/* css-for-cell-left-space */ 
.ag-cell-no-focus span .ag-group-value {
    margin-left: 5px;
    display: inline-block;
}

.contentviewwrapper #filterChipShowProjectDiv {
    background: #FFF;
}

 /**css-for-filter-border-remove**/
#gridDiv .ng-pristine.ng-valid.ng-empty.ng-touched {
    padding: 4px 2px 4px 4px;
    border: none;
}

/* css-for-ag-cell-content-position */ 
.ag-material .ag-cell-not-inline-editing {
    padding-top: 15px;
    min-height: 40px;
    vertical-align: middle;
}

/* css-for-ag-menu-fillter-icon-position */ 
.ag-material .ag-column-drop-cell-button {
    border: 0px solid transparent !important;
    padding-top: 2px;
}

/* css-for-ag-cell-text-size */ 
.ag-cell-no-focus .task-name.form-to-section {
    font-size: 11px;
}

/* css-for-ag-menu-header-background-color */ 
.ag-material .ag-menu .ag-tab-header {
    box-shadow: -1px 0px -1px 0 rgba(0,0,0,0.2);
    background-color: #e6e6e6;
}

/* css-for-ag-menu-header-box-space */ 
.ag-material .ag-menu .ag-tab {
    margin: 0px 0px 0px 0px !important;
}

/* css-for-ag-menu-fillter-icon-position */ 
.ag-material .ag-column-drop-cell {
    background: none !important;
    color: #666 !important;
    border: 0px!important;
    padding-left: 4px !important;
}

/* css-for-cell-text-format */ 
.ag-material .ag-group-cell {
	font-style:normal!important;
	font-family:Roboto;
	font-size:13px;
}


/* css-for-row-ag-menu-colum-text-left-space */ 
.ag-menu-column-select-wrapper .ag-column-select-label{
    margin-left: 2px;
}

/* css-for-tool-pannel-starts */ 
#gridDiv .ag-bl-east .ag-material .ag-tool-panel {
    background-color: #fff;
    border-bottom: none;
    border-top: none;
    color: #666;  
}
/* css-for-toolpannel-overlay-position */ 
.ag-bl-normal-east .ag-tool-panel{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    bottom: 0;
    border:1px solid #ddd;
    padding-left:5px;
    box-shadow: 0 0 3px #b0b0b0;
}
/* css-for-ag-column-text-alignment */ 
.ag-material .ag-column-drop-vertical .ag-column-drop-empty-message {
    text-align: left!important;
}
/* css-for-toolpannel-spacing */ 
.ag-tool-panel .ag-pivot-mode{
    padding-top:15px;
    padding-bottom:15px;
}
.ag-column-drop-pivot{
	display : none;
}	

/* css-for-toolpannel-tansition-effect */ 
#pivottool{
	 right: -201px;
	 transition: all 0.2s;
	 display: block !important;
}

/* css-for-toolpannel-tansition-effect */ 
#pivottool.sliderighttoleft{
	 right: 0;
	 transition: all 0.2s;
}

/* css-for-toolpannel-text */ 
.ag-pivot-mode .ag-column-select-panel .ag-column-select-label{
	margin-left: 2px;
}


#pivottool.ag-tool-panel.sliderighttoleft{
display : block !important;
}

/* css-for-toolpannel-dropdown-overlay */ 
.ag-select-agg-func-popup {
    z-index: 99;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);  
}

/* css-for-toolpannel-dropdown-text-left-space */ 
.ag-select-agg-func-popup .ag-virtual-list-item .ag-select-agg-func-item {
	padding-left: 10px;	
}

/* css-for-toolpannel-dropdown-height */ 
.ag-select-agg-func-popup .ag-virtual-list-viewport .ag-virtual-list-container {
    height: 140px !important; 
}

/* css-for-toolpannel-dropd0wn-hover-color*/ 
.ag-material .ag-select-agg-func-item:hover{
    background-color: rgb(238,238,238);
}

/* css-for-toolpanel-drop-cell */ 
.ag-column-drop .ag-column-drop-cell{
    border-bottom: 1px solid #ddd!important;
    margin-bottom: 4px;
    margin-left: 4px;
}
/* css-for-tool-pannel-ends */ 


/* css-for-img-overlay-filter-option */
.ag-bl-overlay{
    z-index: 0 !important;
}

#gridDiv #overlay {
	background-color :transparent;
}
.ag-material .ag-menu {
    cursor: pointer !important;
}

/* css-for-scroll*/
#headPart{
	overflow:hidden;
}
	

/*alarm-module-select-fillter-css-start*/

#tabBody .ag-filter .ag-filter-select{   
    border: 0px !important;
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 5px !Important;
    padding-top:5px !Important;
    width:170px;
}
#tabBody .ag-filter{
    margin-bottom: 5px;
}
/*alarm-module-css-end*/ 

.ag-body .ag-body-container .ag-cell-no-focus .md-menu .md-icon-button .actionfont {
float:right !important;}

.ag-body .ag-body-container .ag-cell-no-focus .ag-cell-doc-pdf {
float: left!important;}

.range_inputs
{
	margin: 8px;
}

.range_inputs .btn-success {
    color: rgb(250,250,250);
    background-color: rgb(33, 150, 243);
    border-color: #4cae4c;
    border-radius: 5px;
    width: 67px;
    border: 1px;
    height: 27px;
    padding: 5px;
}
.range_inputs .btn-default {
    color: rgb(250,250,250);
    background-color: rgb(33, 150, 243);
    border-color: #4cae4c;
    border-radius: 5px;
    width: 67px;
    border: 1px;
    height: 27px;
    padding: 5px;
}

.ag-menu .ag-tab-body .ag-filter #applyPanel #clearButton{
    margin-top: 3px;
    margin-left: 3px;
    background-color: rgb(33, 150, 243);
    color: #fff;
    padding: 0px 6px;
    border-radius: 3px;
    min-width: 60px;
    min-height: 30px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
	border: 0px !important;
	
}
