<style>
    .angular-leaflet-map {
        width: 100%;
        height: 430px;
    }
    
    .left {
        float: left;
        width: 58%;
        padding-right: 1em;
    }
    
    .right {
        float: right;
        width: 40%;
    }
</style>
<md-dialog style="width:100%" aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango{{region}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
  
        <md-dialog-content>
            <div ng-controller="tablegridCtrl" style="width:100%; height:480px">
                <leaflet lf-center="center" markers="markers" paths="paths"></leaflet>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>